@model ResultStaffDto
@{
    ViewData["Title"] = "GetStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>PERSONELLER</h4>
</div>
<table class="table table-striped">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Personal Unvanı</th>
        <th>Sosyal Medya 1</th>
        <th>Sosyal Medya 2</th>
        <th>Sosyal Medya 3</th>
        <th>Personel Görseli(Url)</th>
    </tr>
    <tr>
        <td>
            <span class="label gradient-2 rounded">@Model.StaffID</span>
        </td>
        <td>@Model.Name</td>
        <td>
            <span class="label gradient-1 rounded">@Model.Title</span>
        </td>
        <td>@Model.SocialMedia1</td>
        <td>@Model.SocialMedia2</td>
        <td>@Model.SocialMedia3</td>
        <td>@Model.StaffImageUrl</td>
    </tr>
</table>